<h1>Collection: <%=@collection.title%><h1>
<h3>Description: <%=@collection.description%> </h3>
<%= render partial: 'accessions/image_display', locals: {item:@collection} %>

  <h3>Collection Number: <%=@collection.collection_num%> </h3>
 <h2><%= link_to 'Add Accession',      "#{new_accession_path}?collection_id=#{@collection.id}",  {:class => "btn btn-primary"}  %></h2>
 <h2><%= link_to 'Back To Dashboard',  "#{sufia.dashboard_index_path}",  {:class => "btn btn-primary"}  %></h2>
 <h2><%= link_to 'Edit Collection',    "#{collections.edit_collection_path}?collection_id=#{@collection.id}",  {:class => "btn btn-primary"}  %></h2>
<h3> <u>Accessions </u></h3>
<%#= render partial: 'search_form'%>
<%= render partial:'document_list', locals:{documents: @member_docs} %>
