<div class="well">
<%= form_for( @accession, as: "collection") do |f| %>
  <% if @accession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accession.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @accession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag(:collection_id, @parent_id) %>

  <% unless @user_collections.blank? %>
     <% @user_collections.unshift(Collection.new(title:"")) unless @parent_id %>
      <div class="field">
        <%= f.label "Collection" %>
        <%= collection_select(:collection_action, :collection_id,  @user_collections, :id, :title, {selected:@parent_id, value:@parent_id}, {class:"accession collection-edit-selector"} ) %>
      </div>
  <% end %>
  <div class="field">
    <%= f.label 'Accession #' %>
    <%= f.text_field :accession_num %>
  </div>

  <div class="field">
    <%= f.label 'Ingest Type' %>
    <%= f.select :accession_type, ["Disk Media", "Virtual Transfer"] %>
  </div>

      <div class="disk-image">

      <div class="field">
        <%= f.label 'Disk #' %>
        <%= f.text_field :disk_num %>
      </div>

       <div class="field">
        <%= f.label 'Disk Label' %>
        <%= f.text_field :disk_label %>
      </div>

      <div class="field">
        <%= f.label 'Forensic Image Created?' %>
        yes<%= f.radio_button(:disk_image, true, label:"yes") %>
        no<%= f.radio_button(:disk_image, false) %>
      </div>

        <%= render partial: 'collections/image_select', locals: {document:@accession, form:f, label:"Disk Photograph Upload"} %>

  </div>

  <div class="virtual-transfer none">

    <div class="field">
      <%= f.label 'Decsription' %><br />
      <%= f.text_field :description %>
    </div>

  </div>

      <%- unless params[:batch_document_ids].nil? || params[:batch_document_ids].empty? %>
    <%- params[:batch_document_ids].each do |batch_item| %>
      <input type="hidden" name="batch_document_ids[]" value="<%= batch_item %>"/>
    <%- end %>
  <%- end %>
  
  <div class="actions">
    <%= f.submit class:"btn btn-primary accesssion-edit" %>
    <%= link_to 'Cancel', accession_cancel_path(@accession, @parent_id), class:"btn btn-primary accession-cancel" %>
  </div>
<% end %>
</div>
