<h1>Accession: <%=@accession.accession_num%><h1>
<h2><%= link_to 'Back To Dashboard',  "#{sufia.dashboard_index_path}",  {:class => "btn btn-primary"}  %></h2>
  <% unless @accession.collections.blank? %>
  <h2><%= link_to 'Back to Collection', collections.collection_path(@accession.collections.first), {:class => "btn btn-primary"}  %></h2>
  <% end %>

<h2><%= link_to 'Edit Accession',    "#{edit_accession_path}?accessionid=#{@accession.id}",  {:class => "btn btn-primary"}  %></h2>
<h2><%= link_to 'Delete Accession',  "#{accession_path(@accession)}", {:class => "btn btn-primary", method:'delete'}  %></h2>
<h3>Disk # <%=@accession.disk_num%> </h3>
<%= link_to '<i class="icon-upload-alt"></i> Add File(s)'.html_safe, "#{sufia.new_generic_file_path}?accession=#{@accession.id}", {:class => "btn btn-primary"}  %><br />
<h3> <u>Contained Files </u></h3>
<%= render partial: 'search_form'%>
<%= render partial:'document_list', locals:{documents: @member_docs} %>
