
<div class="accession data">
  <h3>Disk # <%=@accession.disk_num%> </h3>
  <h3><%=@accession.disk_label.to_s%> </h3>
  <h3>Disk Image:  <%=display_disk_image(@accession.disk_image)%> </h3>
</div>
  <div class="accession controls">
    <%= link_to 'Back To Dashboard',  "#{sufia.dashboard_index_path}",  {:class => "btn btn-primary"}  %>
    <% unless @accession.collections.blank? %>
        <%= link_to 'Back to Collection', collections.collection_path(@accession.collections.first), {:class => "btn btn-primary"}  %>
    <% else %>
        <%= link_to "Unassigned Ingests", unassigned_collection_path, :class=> 'btn btn-primary' %>

  <% end %>
    <%= link_to 'Edit Accession',    "#{edit_accession_path}?accessionid=#{@accession.id}",  {:class => "btn btn-primary"}  %>
    <%= link_to 'Delete Accession',  "#{accession_path(@accession)}", {:class => "btn btn-primary", method:'delete', :confirm => "Deleting an accession from #{t('sufia.product_name')} is permanent. Click OK to delete this accession from #{t('sufia.product_name')}, or Cancel to cancel this operation"}  %>
    <%= link_to '<i class="icon-upload-alt"></i> Add File(s)'.html_safe, "#{sufia.new_generic_file_path}?accession=#{@accession.id}", {:class => "btn btn-primary"}  %><br />
  </div>
<h1>Accession: <%=@accession.accession_num%><h1>
  <div class="accession image">
    <%= render partial: 'image_display', locals: {item:@accession} %>
  </div>

<div class="accession files">
  <h3> <u>Contained Files </u></h3>
  <%= render partial: 'search_form'%>
  <%= render partial:'document_list', locals:{documents: @member_docs} %>
</div>
