<% @page_title = page_title %>
<div class="accession controls row-fluid">
  <%#= link_to 'Back To Dashboard',  "#{sufia.dashboard_index_path}",  {:class => "btn btn-primary"}  %>
  <%# unless @accession.collections.blank? %>
      <%#= link_to 'Back to Collection', collections.collection_path(@accession.collections.first), {:class => "btn btn-primary"}  %>
  <%# else %>
      <%#= link_to "Unassigned Ingests", unassigned_collection_path, :class=> 'btn btn-primary' %>

  <%# end %>
  <%= link_to 'Edit',    edit_accession_path(@accession),  {:class => "btn btn-primary"}  %>
  <%= link_to 'Delete',  accession_path(@accession), {:class => "btn btn-primary", method:'delete', data: {confirm: "Deleting an accession from #{t('sufia.product_name')} is permanent. Click OK to delete this accession from #{t('sufia.product_name')}, or Cancel to cancel this operation"}}  %>
  <%= link_to '<i class="icon-upload-alt"></i> Add File(s)'.html_safe, sufia.new_generic_file_path(accession:@accession.noid), {:class => "btn btn-primary"}  %><br />
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span3 accession-title-image">
        <div class="accession image">
          <%= render partial: 'image_display', locals: {item:@accession} %>
        </div>
      </div><!-- Ends Ingest Number and Image -->
      <div class="accession data span9">
        <h1>Ingest: <%=@accession.accession_num%><h1>
      <% if @accession.accession_type == "Virtual Transfer" %>
        <h2><%=@accession.description%></h2>
          <% else %>
        <h2>Disk # <%=@accession.disk_num%> </h2>
        <h2><%=@accession.disk_label.to_s%> </h2>
        <h2>Forensic Image Created?:  <%=display_disk_image(@accession.disk_image)%> </h2>
      <% end %>
        <div class="accession deposit">
          Deposited on <%=@accession.date_uploaded %> by <%= display_user_name(@accession) %>.  Last modified on <%= @accession.date_modified %>.
        </div>
      </div><!-- Ends Accession Data -->
    </div><!-- Ends Row -->
  </div><!-- Ends 12 columns -->
</div><!-- Ends Containing Row -->
<div class="accession files row-fluid">
  <div><%= render partial: 'search_form'%></div>
  <div class="span4"><h3><u>Contained Files </u></h3></div>
    <section class="row-fluid"><%= render partial:'document_list', locals:{documents: @member_docs} %></section>
</div>
