<!-- scholarsphere over ride -->
<!-- the sub on ':' is b.c. jQuery has trouble with '.' or ':'
on element ids -->
<% noid = document.noid %>
<tr id="document_<%= noid %>" class="<%= cycle("","zebra") %>">
  <% if editing %>
      <td width="6%"></td>
  <% end %>
  <td width="1%">
  </td>
  <td width="37%">
    <a href="" title="Click for more details"><i id="expand_<%= noid.gsub(":", "_") %>" class="icon-plus icon-large fleft"></i></a>&nbsp;
    <%= render partial: 'collections/image_display', locals: {item:document, width:40} %>
    <span class=center><%= link_to document.title_or_label, collections.collection_path(noid), :id => "src_copy_link#{noid}" %> <br /></span>
  </td>
  <td width="17%"><%= document.date_uploaded %> </td>
  <td width="10%"><%= document.collection_num%></td>
  <% if editing %>

    <td width="23%" class="center">
        <%= render partial:'collection_action_menu', locals:{noid:noid} %>
    </td>
  <% end %>


  </tr>
<tr class="hide detail-row" id="detail_<%= noid.gsub(":", "_") %>"> <!--  document detail"> -->
  <td class="detail-data" colspan="6">
    <dl class="details expanded-details">
      <dt>Depositor</dt>
      <dd><%= display_user_name(document) %></dd>
      <dt>Description</dt>
      <dd><%= document.description %></dd>
      <dt>Edit Access</dt>
      <dd>
        <% if document.edit_groups.present? %>
            Groups: <%= document.edit_groups.join(', ') %>
            <br />
        <% end %>
        Users: <%= display_access_users(document.edit_people) %>

      </dd>
    </dl>
  </td>
</tr>
